check-in-papi-app/src/main/mule/inbound/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
    
	
	<sub-flow name="payment-approval-by-pnr" doc:id="be20e3a7-d9be-4ec7-ab9d-6444c24e5406" >
		<ee:transform>
            <ee:variables>
                <ee:set-variable variableName="PNR">attributes.uriParams.'PNR'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  flight: "ANY6584",
  lastName: "Smith",
  gate: "4A",
  PNR: "928382J",
  flightDate: "2019-02-14",
  boarding: "13:15:00",
  seat: "16C",
  depart: "14:30:00",
  class: "Economy",
  airportArrive: "SFO",
  airportDepart: "ATL",
  bagsCount: 2
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
	</sub-flow>
	
	<flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="/api/${api.majorVersion}/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="api-config" />
		<error-handler ref="api-global-error-handler" />
    </flow>
    
    <flow name="api-console">
        <http:listener config-ref="api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    
    <flow name="put:\tickets\(PNR)\checkin:application\json:api-config">
		<flow-ref doc:name="check-in-by-pnr" doc:id="22f144a0-e26d-48d6-938e-ae4687c71482" name="check-in-by-pnr" />
    </flow>
    
    <flow name="put:\tickets\(PNR)\paymentApproval:application\json:api-config">
		<flow-ref doc:name="payment-approval-by-pnr" doc:id="55b4c265-8634-47c4-84df-a2cef4d8d5df" name="payment-approval-by-pnr" />
    </flow>
    
</mule>
